@model IEnumerable<Games>

@{
    ViewData["Title"] = "Games";
}

<h1 style="margin-bottom: 25px; margin-top: 40px;">Steam Deals from Cheapshark API</h1>

<table class="table table-dark table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.internalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metacriticlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dealID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.normalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOnSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.savings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metacriticscore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.steamRatingText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.steamRatingPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.steamRatingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.steamAppID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dealRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thumb)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.internalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metacriticlink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dealID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.storeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.normalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isOnSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.savings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metacriticscore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.steamRatingText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.steamRatingPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.steamRatingCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.steamAppID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.releaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dealRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thumb)
                </td>
            </tr>
        }
    </tbody>
</table>
